/* src\app\components\toats\ToastContainer.module.css */

.toastContainer {
  position: fixed;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  transition: all 0.3s ease-in-out;
}

.top-left {
  top: 1rem;
  left: 1rem;
  align-items: flex-start;
}

.top-right {
  top: 1rem;
  right: 1rem;
  align-items: flex-end;
}

.bottom-left {
  bottom: 1rem;
  left: 1rem;
  align-items: flex-start;
}

.bottom-right {
  bottom: 1rem;
  right: 1rem;
  align-items: flex-end;
}
