/* src/app/components/ToggleButton.module.css */

.toggle {
  width: 40px;
  height: 20px;
  background: var(--bg-toggle);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  position: relative;
}

.circle {
  width: 18px;
  height: 18px;
  background: var(--bg-toggle-circle);
  border-radius: 50%;
  position: absolute;
  top: 1px;
  left: 1px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.enabled {
  transform: translateX(20px);
}
