/* src/app/components/layout/header/Settings.module.css */

/* Wrapper to align the settings icon in header */
.settingsWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* The actual button appearance */
.settingsButton {
  padding: 6px;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;
  color: var(--header-text);
  background-color: blueviolet;
  border:2px solid blueviolet;
  padding: 6px 10px;
}

.settingsButton:hover {
  background-color: var(--border);
  border: 2px solid blueviolet;
}
