/* ThemeToggleModule.module.css */
/* -----------------------------
   Styling for the ThemeToggleModule that toggles dark/light themes
   using CSS variables defined in globals.css. Uses the generic Toggle UI.
--------------------------------*/

.themeToggleWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
}

.headerBtn {
  transition: transform 0.2s ease;
  color: var(--text);
  background-color: blueviolet;
  border:2px solid blueviolet;
  padding: 6px 10px;
}

.iconActive {
  background-color: transparent;
  border:2px solid #fff;
}
